/* margin 0 auto för centrering, bredd och lite annat satt */
body{
    width:960px;
    margin:0 auto;
    background-color:#A3C6E1;
    /*color:#A3C6E1;*/
    color:#397EB3;
    font-family:sans-serif;
    font-size:12px;
}

header{
    /*border:dashed #333333 1px;*/
    margin:0px 0px;
    padding:0px 0px;
}

header#main-header {
	background-color: inherit;
    color:#A3C6E1;
}

header > h1 {
	border-top:solid #FFFFFF 10px;
	border-left:solid #FFFFFF 10px;
	border-right:solid #FFFFFF 10px;
	padding-top:16px;
	padding-bottom:16px;
	padding-left:5px;
	background-color:#142C3E;
	color: inherit;
	margin:0px;
}

header > nav {
	background-color:#142C3E;
	color: inherit;
	border-top:solid #FFFFFF 4px;
	border-left:solid #FFFFFF 10px;
	border-right:solid #FFFFFF 10px;
	border-bottom:solid #FFFFFF 6px; 
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	text-align:left;
	margin:0px;
}

div.content {
	background-color: #FFFFFF;
	color: #000000;
	padding-left:5px;
	padding-right:5px;
	margin:0px;
}

div.content-main {
	border-left:solid #FFFFFF 10px;
	border-right:solid #FFFFFF 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;
	margin:0px;
}

div.content-main h1 {
	padding:0px;
	margin:0px;
}

article > footer {
	background-color: #FFFFFF;
	color: inherit;
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
	font-style: italic;
}

/*body footer#body-footer {
    border-left:solid #FFFFFF 10px;
    border-right:solid #FFFFFF 10px;
    border-bottom:solid #FFFFFF 10px;
}*/

body footer#body-footer {
    border-left:solid #FFFFFF 5px;
    border-right:solid #FFFFFF 5px;
    border-bottom:solid #FFFFFF 10px;
}

footer {
    padding:10px; 
    text-align:center;
    background-color:#142C3E;
    color: inherit;
}

footer > nav {
    text-align:center;
    padding-bottom:10px;
}

/*header h1{
    line-height:10px;
}*/

a{
	background-color: inherit;
    color:#397EB3;
}

a:hover{
    text-decoration:none;
}

small{
    margin-top:5px;
    display:block;
}

hr {
	color: #767676;
	background-color: inherit;
}

.login {
    margin-top:5px;
    text-align:right;
}

.errorMessage {
    background-color:#faa;
    color: #F12619;
    border:3px solid #767676;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    text-align:center;
    font-style:italic;
}

.notification {
    background-color:#afa;
    color: inherit;
    border:3px solid #333;
    padding:5px;
    margin:5px;
    text-align:center;
    font-style:italic;
}

/*Source code related css*/
div.sourcecode {
	white-space: nowrap;
	border: solid 1px #999;
	background: #f9f9f9;
	color: inherit;
	padding: 0.5em 0.5em 0.5em 0.5em;
	overflow:auto;
}
div.content-main > header > h1 {
	background-color: #FFFFFF;
	color: inherit;
	padding:0px;
	margin:0px;
	border:none 0px #000000;
}
div.content-main > header > nav {}

div.article {
	float:left;
	width: 500px;
}

div.article-sidebar {
	float:right;
}

div.account-settings-main {
	width: 625px;
}

div.account-settings fieldset {
	width: 400px;
}

div.account-settings fieldset input#email {
	width: 300px;
}

div.account-settings fieldset input#id,
div.account-settings fieldset input#username,
div.account-settings fieldset input#groupId,
div.account-settings fieldset input#groupDescription {
	width: 260px;
}

div.account-settings fieldset input#password {
	width: 240px;
}

div.account-settings fieldset input#rpassword {
	width: 240px;
}

div.account-settings fieldset input#gravatarEmail {
	width: 260px;
}

fieldset.create-account {
	width: 525px;
}

fieldset.create-account table {
	width: 99%;
}

fieldset.create-account input#username, fieldset.create-account input#password, 
	fieldset.create-account input#passwordRepeat {
	
	width: 350px;
}

fieldset.create-account div {
	padding: 0px;
	margin: 0px;
}

h3.sidebar-header {
	text-transform: uppercase;
	border-bottom: double #000000 1px; 
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

div.clear {
	clear:both;
}

textarea.create-a {
	width: 300px;
	height: 150px;
}

input.create-a {
	width: 302px;
}

ul.article-list {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
}

/*Link colors*/

div.content a {
	color: #000000;
	background-color: inherit;
}

div.content > footer > a {
	color: #397EB3;
	background-color: inherit;
}